<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.lovecube.clinic">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="false">
        <receiver android:name=".security.GeofenceBroadcastReceiver" android:exported="true" />
        <activity android:name=".ui.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>